@import "tailwindcss";


:root {
    --background: #1D2123;
    --foreground: #1D2123;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-tunelog-secondary: oklch(86.77% 0.131 85.80);
    --color-tunelog-dark: oklch(24.45% 0.007 229.16);
    --color-tunelog-dark-alt: oklch(23.13% 0.006 214.42);
    --color-tunelog-light: oklch(94.61% 0.019 103.43);

    --text-10-light: 0.625rem;
    --text-10-light--line-height: 0.875rem;
    --text-10-light--font-weight: 300;
    --text-10-regular: 0.625rem;
    --text-10-regular--line-height: 0.875rem;
    --text-10-regular--font-weight: 400;
    --text-10-medium: 0.625rem;
    --text-10-medium--line-height: 0.875rem;
    --text-10-medium--font-weight: 500;
    --text-10-semibold: 0.625rem;
    --text-10-semibold--line-height: 0.875rem;
    --text-10-semibold--font-weight: 600;
    --text-10-bold: 0.625rem;
    --text-10-bold--line-height: 0.875rem;
    --text-10-bold--font-weight: 700;
    --text-11-light: 0.688rem;
    --text-11-light--line-height: 1rem;
    --text-11-light--font-weight: 300;
    --text-11-regular: 0.688rem;
    --text-11-regular--line-height: 1rem;
    --text-11-regular--font-weight: 400;
    --text-11-medium: 0.688rem;
    --text-11-medium--line-height: 1rem;
    --text-11-medium--font-weight: 500;
    --text-11-semibold: 0.688rem;
    --text-11-semibold--line-height: 1rem;
    --text-11-semibold--font-weight: 600;
    --text-11-bold: 0.688rem;
    --text-11-bold--line-height: 1rem;
    --text-11-bold--font-weight: 700;
    --text-12-light: 0.75rem;
    --text-12-light--line-height: 1rem;
    --text-12-light--font-weight: 300;
    --text-12-regular: 0.75rem;
    --text-12-regular--line-height: 1rem;
    --text-12-regular--font-weight: 400;
    --text-12-medium: 0.75rem;
    --text-12-medium--line-height: 1rem;
    --text-12-medium--font-weight: 500;
    --text-12-semibold: 0.75rem;
    --text-12-semibold--line-height: 1rem;
    --text-12-semibold--font-weight: 600;
    --text-12-bold: 0.75rem;
    --text-12-bold--line-height: 1rem;
    --text-12-bold--font-weight: 700;
    --text-13-light: 0.8125rem;
    --text-13-light--line-height: 1.125rem;
    --text-13-light--font-weight: 300;
    --text-13-regular: 0.8125rem;
    --text-13-regular--line-height: 1.125rem;
    --text-13-regular--font-weight: 400;
    --text-13-medium: 0.8125rem;
    --text-13-medium--line-height: 1.125rem;
    --text-13-medium--font-weight: 500;
    --text-13-semibold: 0.8125rem;
    --text-13-semibold--line-height: 1.125rem;
    --text-13-semibold--font-weight: 600;
    --text-13-bold: 0.8125rem;
    --text-13-bold--line-height: 1.125rem;
    --text-13-bold--font-weight: 700;
    --text-14-light: 0.875rem;
    --text-14-light--line-height: 1.25rem;
    --text-14-light--font-weight: 300;
    --text-14-regular: 0.875rem;
    --text-14-regular--line-height: 1.25rem;
    --text-14-regular--font-weight: 400;
    --text-14-medium: 0.875rem;
    --text-14-medium--line-height: 1.25rem;
    --text-14-medium--font-weight: 500;
    --text-14-semibold: 0.875rem;
    --text-14-semibold--line-height: 1.25rem;
    --text-14-semibold--font-weight: 600;
    --text-14-bold: 0.875rem;
    --text-14-bold--line-height: 1.25rem;
    --text-14-bold--font-weight: 700;
    --text-15-light: 0.9375rem;
    --text-15-light--line-height: 1.375rem;
    --text-15-light--font-weight: 300;
    --text-15-regular: 0.9375rem;
    --text-15-regular--line-height: 1.375rem;
    --text-15-regular--font-weight: 400;
    --text-15-medium: 0.9375rem;
    --text-15-medium--line-height: 1.375rem;
    --text-15-medium--font-weight: 500;
    --text-15-semibold: 0.9375rem;
    --text-15-semibold--line-height: 1.375rem;
    --text-15-semibold--font-weight: 600;
    --text-15-bold: 0.9375rem;
    --text-15-bold--line-height: 1.375rem;
    --text-15-bold--font-weight: 700;
    --text-16-light: 1rem;
    --text-16-light--line-height: 1.5rem;
    --text-16-light--font-weight: 300;
    --text-16-regular: 1rem;
    --text-16-regular--line-height: 1.5rem;
    --text-16-regular--font-weight: 400;
    --text-16-medium: 1rem;
    --text-16-medium--line-height: 1.5rem;
    --text-16-medium--font-weight: 500;
    --text-16-semibold: 1rem;
    --text-16-semibold--line-height: 1.5rem;
    --text-16-semibold--font-weight: 600;
    --text-16-bold: 1rem;
    --text-16-bold--line-height: 1.5rem;
    --text-16-bold--font-weight: 700;
    --text-18-light: 1.125rem;
    --text-18-light--line-height: 1.75rem;
    --text-18-light--font-weight: 300;
    --text-18-regular: 1.125rem;
    --text-18-regular--line-height: 1.75rem;
    --text-18-regular--font-weight: 400;
    --text-18-medium: 1.125rem;
    --text-18-medium--line-height: 1.75rem;
    --text-18-medium--font-weight: 500;
    --text-18-semibold: 1.125rem;
    --text-18-semibold--line-height: 1.75rem;
    --text-18-semibold--font-weight: 600;
    --text-18-bold: 1.125rem;
    --text-18-bold--line-height: 1.75rem;
    --text-18-bold--font-weight: 700;
    --text-20-light: 1.25rem;
    --text-20-light--line-height: 2rem;
    --text-20-light--font-weight: 300;
    --text-20-regular: 1.25rem;
    --text-20-regular--line-height: 2rem;
    --text-20-regular--font-weight: 400;
    --text-20-medium: 1.25rem;
    --text-20-medium--line-height: 2rem;
    --text-20-medium--font-weight: 500;
    --text-20-semibold: 1.25rem;
    --text-20-semibold--line-height: 2rem;
    --text-20-semibold--font-weight: 600;
    --text-20-bold: 1.25rem;
    --text-20-bold--line-height: 2rem;
    --text-20-bold--font-weight: 700;
    --text-24-light: 1.5rem;
    --text-24-light--line-height: 2.25rem;
    --text-24-light--font-weight: 300;
    --text-24-regular: 1.5rem;
    --text-24-regular--line-height: 2.25rem;
    --text-24-regular--font-weight: 400;
    --text-24-medium: 1.5rem;
    --text-24-medium--line-height: 2.25rem;
    --text-24-medium--font-weight: 500;
    --text-24-semibold: 1.5rem;
    --text-24-semibold--line-height: 2.25rem;
    --text-24-semibold--font-weight: 600;
    --text-24-bold: 1.5rem;
    --text-24-bold--line-height: 2.25rem;
    --text-24-bold--font-weight: 700;
    --text-28-light: 1.75rem;
    --text-28-light--line-height: 2.5rem;
    --text-28-light--font-weight: 300;
    --text-28-regular: 1.75rem;
    --text-28-regular--line-height: 2.5rem;
    --text-28-regular--font-weight: 400;
    --text-28-medium: 1.75rem;
    --text-28-medium--line-height: 2.5rem;
    --text-28-medium--font-weight: 500;
    --text-28-semibold: 1.75rem;
    --text-28-semibold--line-height: 2.5rem;
    --text-28-semibold--font-weight: 600;
    --text-28-bold: 1.75rem;
    --text-28-bold--line-height: 2.5rem;
    --text-28-bold--font-weight: 700;
    --text-30-light: 1.875rem;
    --text-30-light--line-height: 2.75rem;
    --text-30-light--font-weight: 300;
    --text-30-regular: 1.875rem;
    --text-30-regular--line-height: 2.75rem;
    --text-30-regular--font-weight: 400;
    --text-30-medium: 1.875rem;
    --text-30-medium--line-height: 2.75rem;
    --text-30-medium--font-weight: 500;
    --text-30-semibold: 1.875rem;
    --text-30-semibold--line-height: 2.75rem;
    --text-30-semibold--font-weight: 600;
    --text-30-bold: 1.875rem;
    --text-30-bold--line-height: 2.75rem;
    --text-30-bold--font-weight: 700;
    --text-36-light: 2.25rem;
    --text-36-light--line-height: 3.25rem;
    --text-36-light--font-weight: 300;
    --text-36-regular: 2.25rem;
    --text-36-regular--line-height: 3.25rem;
    --text-36-regular--font-weight: 400;
    --text-36-medium: 2.25rem;
    --text-36-medium--line-height: 3.25rem;
    --text-36-medium--font-weight: 500;
    --text-36-semibold: 2.25rem;
    --text-36-semibold--line-height: 3.25rem;
    --text-36-semibold--font-weight: 600;
    --text-36-bold: 2.25rem;
    --text-36-bold--line-height: 3.25rem;
    --text-36-bold--font-weight: 700;
    --text-40-light: 2.5rem;
    --text-40-light--line-height: 3.75rem;
    --text-40-light--font-weight: 300;
    --text-40-regular: 2.5rem;
    --text-40-regular--line-height: 3.75rem;
    --text-40-regular--font-weight: 400;
    --text-40-medium: 2.5rem;
    --text-40-medium--line-height: 3.75rem;
    --text-40-medium--font-weight: 500;
    --text-40-semibold: 2.5rem;
    --text-40-semibold--line-height: 3.75rem;
    --text-40-semibold--font-weight: 600;
    --text-40-bold: 2.5rem;
    --text-40-bold--line-height: 3.75rem;
    --text-40-bold--font-weight: 700;
    --text-44-light: 2.75rem;
    --text-44-light--line-height: 4rem;
    --text-44-light--font-weight: 300;
    --text-44-regular: 2.75rem;
    --text-44-regular--line-height: 4rem;
    --text-44-regular--font-weight: 400;
    --text-44-medium: 2.75rem;
    --text-44-medium--line-height: 4rem;
    --text-44-medium--font-weight: 500;
    --text-44-semibold: 2.75rem;
    --text-44-semibold--line-height: 4rem;
    --text-44-semibold--font-weight: 600;
    --text-44-bold: 2.75rem;
    --text-44-bold--line-height: 4rem;
    --text-44-bold--font-weight: 700;
    --text-48-light: 3rem;
    --text-48-light--line-height: 4.25rem;
    --text-48-light--font-weight: 300;
    --text-48-regular: 3rem;
    --text-48-regular--line-height: 4.25rem;
    --text-48-regular--font-weight: 400;
    --text-48-medium: 3rem;
    --text-48-medium--line-height: 4.25rem;
    --text-48-medium--font-weight: 500;
    --text-48-semibold: 3rem;
    --text-48-semibold--line-height: 4.25rem;
    --text-48-semibold--font-weight: 600;
    --text-48-bold: 3rem;
    --text-48-bold--line-height: 4.25rem;
    --text-48-bold--font-weight: 700;
    --text-56-light: 3.5rem;
    --text-56-light--line-height: 5rem;
    --text-56-light--font-weight: 300;
    --text-56-regular: 3.5rem;
    --text-56-regular--line-height: 5rem;
    --text-56-regular--font-weight: 400;
    --text-56-medium: 3.5rem;
    --text-56-medium--line-height: 5rem;
    --text-56-medium--font-weight: 500;
    --text-56-semibold: 3.5rem;
    --text-56-semibold--line-height: 5rem;
    --text-56-semibold--font-weight: 600;
    --text-56-bold: 3.5rem;
    --text-56-bold--line-height: 5rem;
    --text-56-bold--font-weight: 700;
    --text-64-light: 4rem;
    --text-64-light--line-height: 5.5rem;
    --text-64-light--font-weight: 300;
    --text-64-regular: 4rem;
    --text-64-regular--line-height: 5.5rem;
    --text-64-regular--font-weight: 400;
    --text-64-medium: 4rem;
    --text-64-medium--line-height: 5.5rem;
    --text-64-medium--font-weight: 500;
    --text-64-semibold: 4rem;
    --text-64-semibold--line-height: 5.5rem;
    --text-64-semibold--font-weight: 600;
    --text-64-bold: 4rem;
    --text-64-bold--line-height: 5.5rem;
    --text-64-bold--font-weight: 700;
}

.ProseMirror {
    height: 500px;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: center;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
}

.react-calendar__tile abbr {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1D2123;
        --foreground: #1D2123;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-quicksand), sans-serif;
}